<h1>Recept beküldése</h1>
<form class="form-horizontal col-lg-8 col-lg-offset-2"
      method="post" action="/add">
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Recept neve: </label>
      <div class="col-lg-10">
        <textarea class="form-control" 
               name="nev" id="nev" 
               placeholder="Mi a recept neve?"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Recept leírása: </label>
      <div class="col-lg-10">
        <textarea class="form-control" 
               name="leiras" id="leiras" 
               placeholder="Írja le, hogyan lehet elkészíteni a receptet"></textarea>
      </div>
    </div>
    <div class="form-group">
      <label for="leiras" class="col-lg-2 control-label">Recept nehézsége: </label>
      <div class="col-lg-10">
        <select class="form-control" name="nehezseg" id="nehezseg">
            <option>Könnyű (1)</option>
            <option>Közepes (2)</option>
            <option>Haladó (3)</option>
            <option>Nehéz (4)</option>
            <option>Rendkívül nehéz (5)</option>
        </select>
      </div>
    </div>
    <div class="form-group">
      <div class="col-lg-10 col-lg-offset-2">
        <button type="reset" class="btn btn-default pull-left">Mégse</button>
        <button type="submit" class="btn btn-success pull-right">Hozzáadás</button>
      </div>
    </div>
</form>