<h1>Kollégiumi recept gyűjtemény</h1>
<p class="jumbotron">
    A honlapot szigorúan csak a kollégium lakói használhatják, mivel szabadon módosítható, ezért csak bejelentkezés után érhető el.<br>
    Ha látni szeretnéd a recepteket, először <a href="/login/signup">regisztrálj</a> az oldalra!<br>
    Ha már van regisztált felhasználói fiókod, akkor kérlek, <a href="/login/login">jelentkezz be</a>!
</p>